# SYSTEM REQUIREMENTS (install separately):
# - ffmpeg: brew install ffmpeg (macOS) or sudo apt install ffmpeg (Ubuntu)
#
# install w/: pip install -r requirements.txt
#

pyinstaller

# speech process
openai-whisper
torch
torchaudio
spacy
opensmile

# audio processing
#librosa>=0.10.0
#soundfile>=0.12.1
#pydub>=0.25.1

# data analysis
numpy
pandas
scipy

# nlp
nltk
spacy
transformers

# sentiment analysis
#textstat>=0.7.3
#vaderSentiment>=3.3.2

# ml
scikit-learn

# reqs & api calls
requests
urllib3

# config
python-dotenv
pyyaml

